@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: whitesmoke;
}

img {
    max-width: 120%;
    max-height: auto;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

input, button {
    font-size: 18px;
}